.container{
    width: 100%;
    min-height: 100px;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid #ddd;
}

.bio{
    margin-bottom: 30px;
}

.bio h3{
    font-size: 24px;
    font-weight: 400;
}

.bio p{
    font-size: 17px;
    color: #222222;
    margin-top: 5px;
}
.skils{
    margin-top: 30px;
}

.skils h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.skils ul{
    list-style-type: none;
}

.skils ul li{
    display: inline-block;
    padding: 5px 15px;
    margin-right: 20px;
    background: #efefef;
    border-radius: 5px;
}

.links{
    margin-top: 30px;
}

.links h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.links ul{
    list-style-type: none;
}
.links ul li{
    display: inline-block;
    padding: 5px 15px;
    margin-right: 20px;
}

.links ul li a{
    color: #02075d;
    font-weight: bold;
    text-decoration: none;
}

.links ul li a:hover{
    color: #ffa500;
}